@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


html, body, #root{
    height: 100%;
    width: 100%;
}


#root{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

/*Left container*/
.left-container{
    width: 25%;
    margin-right: 100px;
    position: relative;
    height: fit-content;
    padding-bottom: 70px;
}

.left-container #checkbox-input{
    margin-right: 10px;
}

.left-container .button{
    position: absolute;
    bottom: 0;
    right: 10%;
}

@media screen and (max-width: 1100px) {
    #root{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 55%;
    }

    .order-summary{
        width: 70%;
        margin-bottom: 50px;
    }

    .left-container{
        width: calc(70% + 40px);
        margin: auto;
    }

    .left-container .shipping-address .regional-inputs .drop-down-container{
        margin-right: 10px;
    }
}