.inc-dec-box{
    margin-top: 40px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
}

.inc-dec-box  .text{
    font-size: 0.9rem;
    font-weight: 700;
}